In [1]:
#import dependencies
import pandas as pd

In [2]:
# Make a reference to the budget_data.csv file path
csv_name = "budget_data.csv"
# Import the budget_data.csv file as a DataFrame
budget_data_df = pd.read_csv(csv_name)
budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179
20  Sep-2011         899906
21  Oct-2011         834719
22  Nov-2011         132003
23  Dec-2011         309978
24  Jan-2012        -755566
25  Feb-2012        1170593
26  Mar-2012         252788
27  Apr-2012        1151518
28  May-2012         817256
29  Jun-2012         570757
..       ...            ...
56  Sep-2014        1166643
57  Oct-2014         947333
58  Nov-2014         578668
59  Dec-2014         988505
60  Jan-2015        1139715
61  Feb-2015        1029471
62  Mar-2015         687533
63  Apr-2015        -524626
64  May-2015         158620
65  Jun-2015          87795
66  Jul-2015         423389
67  Aug-2015         840723
68  Sep-2015         568529
69  Oct-2015         332067
70  Nov-2015         989499
71  Dec-2015         778237
72  Jan-2016         650000
73  Feb-2016       -1100387
74  Mar-2016        -174946
75  Apr-2016         757143
76  May-2016         445709
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [14]:
print("Financial Analysis \n----------------------------" )

Financial Analysis
----------------------------

In [4]:
months = budget_data_df['Date'].count()
print("Total Months:",months)

Total Months: 86

In [24]:
Total_profit_losses = budget_data_df['Profit/Losses'].sum()
print("Total: $" +str(Total_profit_losses))

Total: $38382578

In [34]:
# Average  Change: $-2315.12
# Greatest Increase in Profits: Feb-2012 ($1926159)
# Greatest Decrease in Profits: Sep-2013 ($-2196167)
budget_data_df['Diff'] = budget_data_df['Profit/Losses'] - budget_data_df['Profit/Losses'].shift(1)
Avg_Change = round(budget_data_df['Diff'].mean(),2)
print("Average Change: $" +str(Avg_Change))

Average Change: $-2315.12

In [47]:
df = budget_data_df.groupby(['Date'])['Profit/Losses'].max()
greatest_inc_profits = budget_data_df['Profit/Losses'].min()
print(str(df['Date'])

print("Greatest Increase in Profits:"+ str(greatest_inc_profits))

KeyError: 'Date'